<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8" />
  <title>Commenti</title>
  <link rel="stylesheet" href="/styles.css"> 
</head>
<body>
  <h1>Commenti</h1>
  <ul class="comment-list">
    <!-- I commenti verranno inseriti dinamicamente dallo script -->
  </ul>
  <p><a href="/">Torna alla home</a></p>

  <script>
    // Script per ottenere i commenti dal server e inserirli nella lista
    fetch('/get-comments')
      .then(response => response.json())
      .then(data => {
        const commentsList = document.querySelector('.comment-list'); // Seleziona ul con la classe 'comment-list'
        let html = ``;
        data.forEach(comment => {
            const listItem = document.createElement('li');
            
            // Aggiungi il contenuto del commento come testo
            const strongElement = document.createElement('strong');
            strongElement.textContent = comment.utente;
            listItem.appendChild(strongElement);
            listItem.appendChild(document.createTextNode(': ' + comment.commento));
            
            // Aggiungi il commento alla lista
            commentsList.appendChild(listItem);
        });
      })
      .catch(err => console.error('Errore nel recuperare i commenti:', err));
  </script>
</body>
</html>
